footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-gray-1;
    width: 100%;
    padding: 25px;

    .socialmedia {
        margin-bottom: 25px;

        a {
            font-size: $font-size-20;
            color: $color-dark-1;
            text-decoration: none;
            margin-left: 10px;
            margin-right: 10px;
            transition: all 0.1s ease-in-out;
            
            &:hover {
                color: $color-theme;
                text-decoration: none;
            }
        }
    }
}


// påbörjade responsiviteten men hann ej klart

// @media (min-width: 800px) {

//    footer {
//     width: 1100px;
//    }

// }


// @media (min-width: 1600px) {

//     footer {
//         width: 100%;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         background-color: $color-gray-1;
//         padding: 25px;

//         .socialmedia {
//             margin-bottom: 25px;

//             a {
//                 font-size: 20px;
//                 color: $color-dark-1;
//                 text-decoration: none;
//                 margin-left: 10px;
//                 margin-right: 10px;
//                 transition: all 0.1s ease-in-out;
                
//                 &:hover {
//                     color: $color-theme;
//                     text-decoration: none;
//                 }
//             }
//         }
//     }
// }