
$font-theme: Poppins, sans-serif;

$max-width: 1680px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

$font-size-11: 0.6875rem;
$font-size-13: 0.8125rem;
$font-size-14: 0.875rem;
$font-size-15: 0.9375rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-30: 1.875rem;
$font-size-40: 2.5rem;
$font-size-45: 2.8125rem;
$font-size-60: 3.75rem;
$font-size-65: 4.0625rem;