@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
html, body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  width: 1920px;
}

header {
  background: #E6E6E6;
  background: linear-gradient(90deg, #E6E6E6 0%, #F5F5F5 100%);
}

a {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: #23262a;
}
a:hover {
  text-decoration: underline;
  color: #ff7373;
}

.border {
  color: #ff7373;
  text-decoration: none;
}

.bg-theme {
  background-color: #ff7373;
}

.bg-dark {
  background-color: #313438 !important;
}

.btn-theme {
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #ff7373;
  color: #ffffff;
  font-weight: 500;
  padding: 20px 50px;
  transition: all 0.2s ease-in-out;
  border: none;
}
.btn-theme .corner-left {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 10px;
  left: 10px;
  border-left: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
}
.btn-theme .corner-right {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 17px;
  left: 223px;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}
.btn-theme:hover {
  color: #ffffff !important;
  background-color: #313438;
  text-decoration: none;
}

.btn-dark {
  position: absolute;
  height: 60px;
  width: 190px;
  font-size: 0.875rem;
  font-weight: 500;
  color: #ffffff;
  background-color: #313438;
  text-align: center;
  padding: 20px 50px;
  transition: all 0.2s ease-in-out;
  border: none;
}
.btn-dark .corner-right {
  position: absolute;
  height: 20px;
  width: 20px;
  margin-top: -10px;
  margin-left: 111px;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}
.btn-dark .corner-left {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 10px;
  left: 10px;
  border-left: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
}
.btn-dark:hover {
  color: #313438 !important;
  background-color: #ffffff !important;
}
.btn-dark:hover .corner-left {
  border-color: #313438;
}
.btn-dark:hover .corner-right {
  border-color: #313438;
}

.btn-light {
  position: absolute;
  height: 60px;
  width: 190px;
  font-size: 0.875rem;
  font-weight: 500;
  color: #313438;
  background-color: #ffffff;
  text-align: center;
  padding: 20px 50px;
  transition: all 0.2s ease-in-out;
  border: none;
}
.btn-light .corner-right {
  position: absolute;
  height: 20px;
  width: 20px;
  margin-top: -10px;
  margin-left: 111px;
  border-right: 2px solid #313438;
  border-bottom: 2px solid #313438;
}
.btn-light .corner-left {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 10px;
  left: 10px;
  border-left: 2px solid #313438;
  border-top: 2px solid #313438;
}
.btn-light:hover {
  color: #ffffff !important;
  background-color: #313438 !important;
}
.btn-light:hover .corner-left {
  border-color: #ffffff;
}
.btn-light:hover .corner-right {
  border-color: #ffffff;
}

.mainmenu {
  width: 1920px;
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "logo menuicons" "menulinks menulinks";
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: -3.3rem;
  height: 100px;
  width: 1920px;
}
.mainmenu .logo {
  grid-area: logo;
  font-size: 2.5rem;
  font-weight: 700;
  padding-left: 0.7rem;
}
.mainmenu .logo:hover {
  color: #313438;
  text-decoration: none;
}
.mainmenu .menu-links {
  grid-area: menulinks;
  margin: none;
  display: none;
  overflow: hidden;
  height: 100%;
  padding-top: 10px;
}
.mainmenu .menu-links .menu-link {
  font-size: 0.9375rem;
  font-weight: 500;
  margin: 15px;
}
.mainmenu .menu-links .active {
  color: #ff7373;
  text-decoration: none;
}
.mainmenu .menu-icons {
  grid-area: menuicons;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: none;
}
.mainmenu .menu-icons .menu-icon {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgb(201, 201, 201);
  height: 35px;
  width: 35px;
  margin: 0.5rem;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
}
.mainmenu .menu-icons .menu-icon:hover {
  color: #ffffff;
  background-color: #313438;
  text-decoration: none;
  box-shadow: 0 0 6px 4x rgba(0, 0, 0, 0.06);
}
.mainmenu .menu-icons .hidden {
  display: none;
}
.mainmenu .menu-icons .active {
  color: white;
  text-decoration: none;
}

@media (min-width: 800px) {
  .mainmenu {
    width: 1000px;
  }
  .mainmenu .menu-links .menu-link {
    position: relative;
    display: flex;
    margin-left: 7rem;
  }
  .mainmenu .logo {
    font-size: 2.8125rem;
    margin-left: 6.5rem;
  }
}
@media (min-width: 1600px) {
  .mainmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    height: 100px;
    width: 1800px;
  }
  .mainmenu .logo {
    font-size: 1.875rem;
    font-weight: 700;
  }
  .mainmenu .logo:hover {
    color: #313438;
    text-decoration: none;
  }
  .mainmenu .menu-links {
    position: relative;
    display: flex;
    margin-left: 7rem;
  }
  .mainmenu .menu-links .menu-link {
    margin: 1rem;
    font-size: 1rem;
  }
  .mainmenu .menu-links .active {
    color: #ff7373;
    text-decoration: none;
  }
  .mainmenu .menu-icons {
    display: flex;
  }
  .mainmenu .menu-icons .menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgb(201, 201, 201);
    height: 35px;
    width: 35px;
    margin: 0.5rem;
    border-radius: 50%;
    transition: all 0.1s ease-in-out;
  }
  .mainmenu .menu-icons .menu-icon:hover {
    color: #ffffff;
    background-color: #313438;
    text-decoration: none;
    box-shadow: 0 0 6px 4x rgba(0, 0, 0, 0.06);
  }
  .mainmenu .menu-icons .active {
    color: #ff7373;
    text-decoration: none;
    box-shadow: 0 0 6px 4x rgba(0, 0, 0, 0.06);
  }
  .mainmenu .menu-icons span {
    margin-bottom: 10px;
  }
  .mainmenu .menu-icons .btn-menu-icon {
    display: none;
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  width: 100%;
  padding: 25px;
}
footer .socialmedia {
  margin-bottom: 25px;
}
footer .socialmedia a {
  font-size: 1.25rem;
  color: #313438;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  transition: all 0.1s ease-in-out;
}
footer .socialmedia a:hover {
  color: #ff7373;
  text-decoration: none;
}

.product-grid {
  margin-bottom: 60px;
}
.product-grid .container {
  display: block;
  align-items: center;
  justify-content: center;
}
.product-grid .container h1 {
  font-size: 1.125rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
}
.product-grid .card {
  border: none;
}
.product-grid .card img,
.product-grid .card .card-img {
  height: 210px;
  width: 255px;
  background-color: #f8f8f8;
  position: relative;
}
.product-grid .card img p,
.product-grid .card .card-img p {
  margin-top: 16px;
}
.product-grid .card img .card-menu,
.product-grid .card .card-img .card-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}
.product-grid .card img .card-menu .menu-link,
.product-grid .card .card-img .card-menu .menu-link {
  background-color: #ffffff;
  color: #313438;
  width: 36px;
  height: 36px;
  margin-bottom: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.06);
  border: none;
  position: relative;
  outline: none;
}
.product-grid .card img .card-menu .menu-link:hover,
.product-grid .card .card-img .card-menu .menu-link:hover {
  color: #ffffff;
  background-color: #313438;
  text-decoration: none;
}
.product-grid .card img .btn-card-theme,
.product-grid .card .card-img .btn-card-theme {
  position: absolute;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
}
.product-grid .card .card-body {
  text-align: center;
  line-height: 4px;
  letter-spacing: 1px;
  margin-right: 35px;
}
.product-grid .card .card-body .card-category {
  font-size: 0.8125rem;
  font-weight: 500;
  color: #616365;
}
.product-grid .card .card-body .card-title {
  font-size: 1rem;
  font-weight: 600;
}
.product-grid .card .card-body .card-rating {
  color: #ff7373;
}
.product-grid .card .card-body .card-price {
  font-size: 1.125rem;
  font-weight: 600;
}
.product-grid .card:hover .card-menu {
  display: block;
}
.product-grid .card:hover .btn-card-theme {
  display: flex;
}

@media (min-width: 1200px) {
  .product-grid .container {
    width: 1250px;
  }
}
.breadcrumb {
  margin-top: 20px;
}
.breadcrumb .container {
  max-width: 1110px;
}
.breadcrumb .breadcrumb-list {
  list-style: none;
  margin: 0 0 40px 0;
  padding: 0;
  color: #ff7373;
}
.breadcrumb .breadcrumb-list li {
  display: inline-block;
  font-weight: 500;
}
.breadcrumb .breadcrumb-list li a {
  color: #313438;
}
.breadcrumb .breadcrumb-list li a:hover {
  color: #ff7373;
}
.breadcrumb .breadcrumb-list li + li:before {
  content: " > ";
  font-weight: 400;
  color: #313438;
}

.google-map {
  margin-bottom: 70px;
  border: 0;
  width: 100%;
  height: 380px;
}

.contact-form {
  margin-bottom: 60px;
}
.contact-form .container {
  align-items: center;
}
.contact-form p {
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.contact-form h2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.contact-form form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
.contact-form form input {
  width: 100%;
  padding: 18px 20px;
  border: 1px solid #bbbbbb;
}
.contact-form form .textarea {
  grid-column: 1/-1;
}
.contact-form form .textarea textarea {
  width: 100%;
  height: 140px;
  padding: 18px 20px;
  border: 1px solid #bbbbbb;
  resize: none;
}
.contact-form form .btn-theme {
  width: 230px;
}
.contact-form form .error {
  color: #ff7373;
  border: 1px solid #ff7373 !important;
}
.contact-form form .errorMessage {
  margin-top: 5px;
  color: #ff7373;
  font-size: 0.8em;
}

@media (min-width: 768px) {
  .contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .contact-form form .textarea {
    margin-top: -2.5rem;
  }
}
.showcase_container {
  width: 1650px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 100px;
  margin-left: 130px;
  padding: 0;
}
.showcase_container .showcase-image-left {
  display: none;
  max-height: 700px;
}
.showcase_container .showcase-image-right {
  display: none;
  max-height: 700px;
}
.showcase_container .showcase-body {
  margin-top: 30px;
  padding-bottom: 60px;
  text-align: center;
  width: 100%;
}
.showcase_container .showcase-body h1 {
  font-size: 2.8125rem;
  font-weight: 800;
  margin-bottom: -10px;
}
.showcase_container .showcase-body p {
  margin-top: 50px;
  margin-bottom: 60px;
  font-size: 1.25rem;
}
.showcase_container .showcase-body .btn-theme .corner-right {
  margin-left: -65px;
  margin-top: 15px;
}

@media (min-width: 1600px) {
  .showcase_container {
    margin-top: 0px;
  }
  .showcase_container .showcase-image-left {
    display: block;
  }
  .showcase_container .showcase-image-right {
    display: block;
  }
  .showcase_container .showcase-body {
    padding-bottom: 0px;
  }
  .showcase_container .showcase-body h1 {
    font-size: 4.0625rem;
  }
  .showcase_container .showcase-body p {
    font-size: 1.25rem;
  }
}
.top-picks {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
  margin-bottom: 60px;
}
.top-picks .top-picks-left {
  display: flex;
  color: #ffffff;
  letter-spacing: 0.2rem;
  margin-right: -80px;
}
.top-picks .top-picks-left .btn-dark {
  margin-top: 250px;
  margin-left: 420px;
}
.top-picks .top-picks-left h1 {
  font-size: 2.8125rem;
  font-weight: 800;
  position: absolute;
  margin-top: 100px;
  margin-left: 420px;
  width: 100%;
}
.top-picks .top-picks-left p {
  font-size: 2.8125rem;
  font-weight: 800;
  position: absolute;
  margin-top: 150px;
  margin-left: 420px;
}
.top-picks .top-picks-right {
  display: flex;
  color: #313438;
  letter-spacing: 0.2rem;
}
.top-picks .top-picks-right .btn-light {
  margin-top: 250px;
  margin-left: 45px;
}
.top-picks .top-picks-right h1 {
  font-size: 2.8125rem;
  font-weight: 800;
  position: absolute;
  margin-top: 100px;
  margin-left: 40px;
  width: 100%;
}
.top-picks .top-picks-right p {
  font-size: 2.8125rem;
  font-weight: 800;
  position: absolute;
  margin-top: 150px;
  margin-left: 40px;
}

.deals-section-1 {
  display: flex;
  margin-top: 50px;
  height: 664px;
}
.deals-section-1 .flash-sale {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bbbbbb;
  margin-left: 115px;
  margin-right: 32px;
  height: 680px;
  width: 825px;
}
.deals-section-1 .flash-sale .flash-info {
  margin-bottom: 50px;
}
.deals-section-1 .flash-sale .btn-light {
  margin-left: 45px;
  margin-top: 20px;
}
.deals-section-1 .flash-sale h1 {
  color: #ffffff;
  font-weight: 800;
}
.deals-section-1 .flash-grid {
  width: 650px;
}
.deals-section-1 .flash-grid .card {
  border: none;
  width: 255px;
}
.deals-section-1 .flash-grid .card img,
.deals-section-1 .flash-grid .card .card-img {
  height: 210px;
  width: 255px;
  background-color: #f8f8f8;
  position: relative;
}
.deals-section-1 .flash-grid .card img p,
.deals-section-1 .flash-grid .card .card-img p {
  margin-top: 13px;
  margin-left: 30px;
}
.deals-section-1 .flash-grid .card img .card-menu,
.deals-section-1 .flash-grid .card .card-img .card-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}
.deals-section-1 .flash-grid .card img .card-menu .menu-link,
.deals-section-1 .flash-grid .card .card-img .card-menu .menu-link {
  background-color: #ffffff;
  color: #313438;
  width: 36px;
  height: 36px;
  margin-bottom: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.06);
  border: none;
  position: relative;
  outline: none;
}
.deals-section-1 .flash-grid .card img .card-menu .menu-link:hover,
.deals-section-1 .flash-grid .card .card-img .card-menu .menu-link:hover {
  color: #ffffff;
  background-color: #313438;
  text-decoration: none;
}
.deals-section-1 .flash-grid .card img .btn-card-theme,
.deals-section-1 .flash-grid .card .card-img .btn-card-theme {
  position: absolute;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 50px;
}
.deals-section-1 .flash-grid .card .card-body {
  text-align: left;
  line-height: 4px;
  letter-spacing: 1px;
}
.deals-section-1 .flash-grid .card .card-body .card-category {
  font-size: 0.8125rem;
  font-weight: 500;
  color: #616365;
}
.deals-section-1 .flash-grid .card .card-body .card-title {
  font-size: 1rem;
  font-weight: 600;
}
.deals-section-1 .flash-grid .card .card-body .card-rating {
  color: #ff7373;
}
.deals-section-1 .flash-grid .card .card-body .card-price {
  font-size: 1.125rem;
  font-weight: 600;
}
.deals-section-1 .flash-grid .card:hover .card-menu {
  display: block;
}
.deals-section-1 .flash-grid .card:hover .btn-card-theme {
  display: flex;
}

.deals-section-2 {
  display: flex;
  margin-top: 70px;
  margin-bottom: 100px;
  height: 664px;
}
.deals-section-2 .flash-sale {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bbbbbb;
  margin-left: -20px;
  height: 680px;
  width: 825px;
}
.deals-section-2 .flash-sale .flash-info {
  margin-bottom: 50px;
}
.deals-section-2 .flash-sale .btn-light {
  margin-left: 45px;
  margin-top: 20px;
}
.deals-section-2 .flash-sale h1 {
  color: #ffffff;
  font-weight: 800;
}
.deals-section-2 .flash-grid {
  width: 650px;
  margin-left: 350px;
}
.deals-section-2 .flash-grid .card {
  border: none;
  width: 255px;
}
.deals-section-2 .flash-grid .card img,
.deals-section-2 .flash-grid .card .card-img {
  height: 210px;
  width: 255px;
  background-color: #f8f8f8;
  position: relative;
}
.deals-section-2 .flash-grid .card img p,
.deals-section-2 .flash-grid .card .card-img p {
  margin-top: 13px;
  margin-left: 10px;
}
.deals-section-2 .flash-grid .card img .card-menu,
.deals-section-2 .flash-grid .card .card-img .card-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}
.deals-section-2 .flash-grid .card img .card-menu .menu-link,
.deals-section-2 .flash-grid .card .card-img .card-menu .menu-link {
  background-color: #ffffff;
  color: #313438;
  width: 36px;
  height: 36px;
  margin-bottom: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.06);
  border: none;
  position: relative;
  outline: none;
}
.deals-section-2 .flash-grid .card img .card-menu .menu-link:hover,
.deals-section-2 .flash-grid .card .card-img .card-menu .menu-link:hover {
  color: #ffffff;
  background-color: #313438;
  text-decoration: none;
}
.deals-section-2 .flash-grid .card img .btn-card-theme,
.deals-section-2 .flash-grid .card .card-img .btn-card-theme {
  position: absolute;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
}
.deals-section-2 .flash-grid .card .card-body {
  text-align: left;
  line-height: 4px;
  letter-spacing: 1px;
}
.deals-section-2 .flash-grid .card .card-body .card-category {
  font-size: 0.8125rem;
  font-weight: 500;
  color: #616365;
}
.deals-section-2 .flash-grid .card .card-body .card-title {
  font-size: 1rem;
  font-weight: 600;
}
.deals-section-2 .flash-grid .card .card-body .card-rating {
  color: #ff7373;
}
.deals-section-2 .flash-grid .card .card-body .card-price {
  font-size: 1.125rem;
  font-weight: 600;
}
.deals-section-2 .flash-grid .card:hover .card-menu {
  display: block;
}
.deals-section-2 .flash-grid .card:hover .btn-card-theme {
  display: flex;
}

.support_section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 380px;
}
.support_section .btn-container {
  border-top: 1px solid #e6e6e6;
  width: 1110px;
}
.support_section .btn-container .container {
  margin-left: -110px;
  width: 1920px;
  display: flex;
  justify-content: space-between;
}
.support_section .btn-container .support-options {
  margin-top: 130px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
}
.support_section .btn-container .support-options .support-btn {
  position: absolute;
  height: 60px;
  width: 60px;
  margin-top: -48px;
  pointer-events: none;
  background-color: #ffffff;
  box-shadow: 0px 5px 10px 0px rgb(223, 223, 223);
  border-radius: 50%;
}
.support_section .btn-container .support-options .support-btn img {
  margin-top: 20px;
}
.support_section .btn-container .support-options h1 {
  font-size: 1.125rem;
  font-weight: 800;
  margin-top: 2.5rem;
}
.support_section .btn-container .support-options p {
  color: #616365;
  margin-top: 1.2rem;
}/*# sourceMappingURL=App.css.map */